@keyframes miani {from {transform: rotatey(360deg);}
to {transform: rotate(0deg);}}
/*@-webkit-keyframes miani {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate3d(360deg);}}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: boder border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Azeret Mono', monospace;*/
    /*background-color: #f1f1f1;*/
}
.titulo{
    font-size: 200%;
    color:#a3e8eb;
    text-shadow: -4px 3px 0 #A9BD5A, -14px 7px 0 #0a0e27;
}
.logo {
    animation: miani 8s ease-in-out none;
}
#cabeceralogo{
    background-color: #f1f1f1;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar1{
    display: flex;
    align-items: center;
    padding: 10px;
}
#menuprincipal {
    flex: 5;
    text-align: right;
}

#listamenu > li{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 20px;
}
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/
#listamenu li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #000000;
    box-shadow: 5px 5px 5px rgba(240, 240, 240, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}
#listamenu li > ul > li {
    width: 110px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: black;
}
#listamenu li > ul > li > a{
    color: white;
}
#listamenu li:hover ul {
    display: block;
}
#listamenu li > a {
    font-size: 90%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menuprincipal li:hover {
    border-bottom: 2px solid #A9BD5A;
    text-align: center;

}
#menuprincipal li > ul >li:hover {
    border-bottom: 2px solid #A9BD5A;
    text-align: center;
}
.barra{
    max-width: 90%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}
.linea{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fondo{
    background-image: url("../imagenes/inicio.jpg");
    background-size: cover;
}
.fondoimg{
    background-image: url("../imagenes/inicio.jpg");
    background-size: cover;
}
.fondoimg1{
    background-image: url("../imagenes/carl-nenzen-loven-I9to3-YsNIw-unsplash.jpg");
    background-size: cover;
}
.columnadere{
    flex-basis: 50%;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13.5%;
    margin-top: 13.5%;
    margin-right: 13.5%;
}
.columnadere img{
    max-width: 60%;
    padding-left: 60px;
}
.columnadere h1{
    font-size:700%;
    line-height: 90%;  
    color: #A9BD5A;
    /*text-shadow: -4px 3px 0 #f17f32, -14px 7px 0 #6ec5b8;*/
}
.columnadere h2{
    font-size: 250%;
    margin-bottom: 5%;    
    color: #A9BD5A;
    /*-webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent;*/
}
/*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*
*/
.columnadere1{
    flex-basis: 50%;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13.5%;
    margin-top: 13.5%;
    margin-right: 13.5%;
}
.columnadere1 img{
    max-width: 70%;
    padding-left: 50px;
}
.columnadere1 h1{
    font-size: 600%;
    line-height: 95%;
    margin: 25px 0;
    color: rgb(255, 255, 255);
    text-shadow: -4px 3px 0 #f17f32, -14px 7px 0 #6ec5b8;
}

/*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*
*/
.columnaizq{
    flex-basis: 50%;
    min-width: 300px;
    /*font-family: 'Montserrat', sans-serif;*/
    margin-bottom: 20%;
    margin-top: 20%;
    margin-right: 20%;

}
.columnaizq img{
    max-width: 75%;
   /*padding-left: 50px;*/
}
.columnaizq h1{
    font-size: 600%;
    line-height: 90%;
    margin: 25px 0;
    color: rgb(255, 255, 255);
    text-shadow: -4px 3px 0 #A9BD5A, -14px 7px 0 #6ec5b8;
}

#imagen{
    position: relative;
    z-index: 30;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center
}
.botones{
    display: flex;
    width: 40%;
    flex-direction: column;    
}

.btn{
    text-decoration:none;
    padding: 20px 30px;
    font-size: 1.25rem;
    position: relative;
    background-color:#A9BD5A;
    
}
.btn-1{
    color: #f1f1f1;
}
.btn-1::after, .btn-1::before{
    border:3px solid #A9BD5A;
    content:  "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left:0;
    bottom:0;
    z-index:1;
    transition: transform 0.35s ease;
}
.btn-1:hover::after{
    transform: translate(-5px, -5px);
}
.btn-1:hover::before{
    transform: translate(5px, 5px);
}
/*
BLUR
*/
.btn-1:hover{
    color: #A9BD5A;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.btn-2{
    color: #f1f1f1;
}
.btn-2::after, .btn-2::before
{

    border:3px solid #A9BD5A;
    content:  "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left:0;
    bottom:0;
    z-index:1;
    transition: transform 0.35s ease;
}
.btn-2:hover::after{
    transform: translate(-5px, -5px);

}
.btn-2:hover::before{
    transform: translate(5px, 5px);

}
.btn-2:hover{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: #A9BD5A;
}
#pie {
    width: 100%;
    background-color:rgb(0, 0, 0);
}
#back {
    width: 960px;
    margin: 0px auto;
    border-radius: 10px;
}
.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
    background-color:rgb(0, 0, 0);
}

.seccionpie h1{
    color:rgb(255, 255, 255);
    padding-bottom: 5%;
    background-color:rgb(0, 0, 0);
}
.seccionpie p a{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);

}
.seccionpie address{
    color:rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(0, 0, 0);
}
.seccionpie small{
    color:rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(0, 0, 0);
}
.recuperar {
    clear: both;
}

