@keyframes miani {from {transform: rotatey(360deg);}
to {transform: rotate(0deg);}}
/*@-webkit-keyframes miani {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate3d(360deg);}}*/
/*
color naranja 
#A9BD5A
color gris
#f1f1f1
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: boder border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Azeret Mono', monospace;*/
    background-color: #f1f1f1;
}
.logo {
    animation: miani 8s ease-in-out none;
}
#cabeceralogo{
    background-color: #f1f1f1;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar1{
    display: flex;
    align-items: center;
    padding: 10px;
}
#menuprincipal {
    flex: 5;
    text-align: right;
}

#listamenu > li{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 20px;
}
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/
#listamenu li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #000000;
    box-shadow: 5px 5px 5px rgba(240, 240, 240, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}
#listamenu li > ul > li {
    width: 120px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: black;
}
#listamenu li > ul > li > a{
    color: white;
    background-color: black;
}
#listamenu li:hover ul {
    display: block;
}
#listamenu li > a {
    font-size: 90%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menuprincipal li:hover {
    border-bottom: 2px solid #A9BD5A;
    text-align: center;
}
#menuprincipal li > ul >li:hover {
    border-bottom: 2px solid #A9BD5A;
    text-align: center;
}
.barra{
    max-width: 90%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flow-root;
    flex-basis: 100%;
    border-bottom-style: solid; border-width: 1px; border-color: rgb(218, 218, 218);
}
.container{
    display: flex;
    /*
    grad
    */
    margin-top: 35px;
    margin-left: 250px;
    margin-bottom: 50px;
    margin-right: 250px;
    text-align: center;
    align-items: center;
    flex-wrap:wrap;
    border-top-style: solid; border-width: 1px; border-color: rgb(218, 218, 218);
    
}
.contenido{
    width: 20%;
    margin-top: 3%;
    border-radius: 6px;
}
.contenidotxt{
    width: 45%;
    margin-top: 4%;
    margin-left: 25%;
    border-radius: 8px;
}
.contenidotxt h2{
    font-size: 250%;
}
.contenidoimg{

    border-top-style: solid; border-width: 1px; border-color: rgb(218, 218, 218);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenido img{
    max-width: 150%;
    min-width: 10%;
}
.sub{
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 250px;
    display: flow-root;
    flex-basis: 100%;
}
.titulo{
    font-size: 200%;
    color:#a3e8eb;
    text-shadow: -4px 3px 0 #A9BD5A, -14px 7px 0 #0a0e27;
}

.recuperar {
    clear: both;
}

.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
    background-color:rgb(0, 0, 0);
}

.seccionpie h1{
    color:rgb(255, 255, 255);
    padding-bottom: 5%;
    background-color:rgb(0, 0, 0);
}
.seccionpie p a{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);

}
.seccionpie address{
    color:rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(0, 0, 0);
}
.seccionpie small{
    color:rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(0, 0, 0);
}
#pie {
    width: 100%;
    background-color:rgb(0, 0, 0);
}
#back {
    width: 960px;
    margin: 0px auto;
    border-radius: 10px;
}
.seccionpie p {
    background-color:rgb(0, 0, 0);
}
.recuperar {
    clear: both;
}
.botones{
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;    
}

.btn{
    text-decoration:none;
    padding: 20px 30px;
    font-size: 1.25rem;
    position: relative;
    background-color:#A9BD5A;
    
}
.btn-1{
    color: #f1f1f1;
}
.btn-1::after, .btn-1::before{
    border:3px solid #A9BD5A;
    content:  "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left:0;
    bottom:0;
    z-index:1;
    transition: transform 0.35s ease;
}
.btn-1:hover::after{
    transform: translate(-5px, -5px);
}
.btn-1:hover::before{
    transform: translate(5px, 5px);
}
/*
BLUR
*/
.btn-1:hover{
    color: #A9BD5A;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
.botones2{
    padding-top: 20px;
    display: flex;
    width: 61%;
    flex-direction: column;
    position: absolute; 
    z-index: 20;
    top: 50%;
    left: 20%;
    background: transparent;
}

.btn-2{
    color: #f1f1f1;
}
.btn-2::after, .btn-2::before
{

    border:3px solid #A9BD5A;
    content:  "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left:0;
    bottom:0;
    z-index:1;
    transition: transform 0.35s ease;
}
.btn-2:hover::after{
    transform: translate(-5px, -5px);

}
.btn-2:hover::before{
    transform: translate(5px, 5px);

}
.btn-2:hover{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: #A9BD5A;
}
.local{
    font-size: 700%;
    position: absolute;
    top: 30%;
    left: 30%;
    background: transparent;
    z-index:10;
}
.imglocal{
    z-index:0;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
/*

FORM CONTACT

*/
.contact_form{	
 width: 460px; 
  height: auto;
  margin: 80px auto;
  padding: 0;
  background-color: #fbfbfb; 

}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #A9BD5A; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #A9BD5A; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #A9BD5A; 
	border-color: #A9BD5A; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #fbfbfb; 
    background-color: #A9BD5A;
}


span{
	color: #A9BD5A; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
    text-decoration: none;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #828282;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #828282;
}
#registro{
    text-decoration: none;
    color: white;
    background-color: #A9BD5A;
}