@keyframes miani {from {transform: rotatey(360deg);}
to {transform: rotate(0deg);}}
/*@-webkit-keyframes miani {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate3d(360deg);}}*/
/*
color naranja 
#f17f32
color gris
#f1f1f1
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: boder border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Azeret Mono', monospace;*/
    background-color: #f1f1f1;
}
.container{
    display: flex;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 75px;
    margin-right: 40px;
    text-align: center;
    align-items: center;
    flex-wrap:wrap;
    border-top-style: solid; border-width: 1px; border-color: rgb(218, 218, 218);
    border-bottom-style: solid; border-width: 1px; border-color: rgb(218, 218, 218);
}
.logo {
    animation: miani 8s ease-in-out none;
}
#cabeceralogo{
    background-color: #f1f1f1;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar1{
    display: flex;
    align-items: center;
    padding: 10px;
}
#menuprincipal {
    flex: 5;
    text-align: right;
}

#listamenu > li{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 20px;
}
/*
    -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/
#listamenu li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #000000;
    box-shadow: 5px 5px 5px rgba(240, 240, 240, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}
#listamenu li > ul > li {
    width: 120px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: black;
}
#listamenu li > ul > li > a{
    color: white;
    background-color: black;
}
#listamenu li:hover ul {
    display: block;
}
#listamenu li > a {
    font-size: 90%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menuprincipal li:hover {
    border-bottom: 2px solid #A9BD5A;
    text-align: center;
}
#menuprincipal li > ul >li:hover {
    border-bottom: 2px solid #A9BD5A;
    text-align: center;
}
.barra{
    max-width: 90%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flow-root;
    flex-basis: 100%;
    border-bottom-style: solid; border-width: 1px; border-color: rgb(218, 218, 218);
}
.sub{
    max-width: 90%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flow-root;
    flex-basis: 100%;
}
.titulo{
    font-size: 300%;
    color:#a3e8eb;
    text-shadow: -4px 3px 0 #A9BD5A, -14px 7px 0 #0a0e27;
}
.contenido{
    width: 20%;
    margin-top: 3%;
    border-radius: 6px;
}
.contenido img{
    max-width: 80%;
    min-width: 10%;
}
.contenido h3 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.contenido p a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
/*
Animacion items
*/
.contenido p:hover {
    border-bottom: 2px solid #000000;
    text-align: center;
}
.contenido h3 > a:hover {
    -webkit-text-stroke: 1px #A9BD5A;
    color: transparent;
}
.contenido img:hover{ 
    filter: blur(2px);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
/*
    B O T O N E S
*/
.botones{
    padding-top: 20px;
    padding-left: 10%;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.btn{
    text-decoration:none;
    padding: 20px 30px;
    font-size: 110%;
    position: relative;
    background-color:#A9BD5A;
    
}
.btn-1{
    color: #000000;
}
.btn-1::after, .btn-1::before{
    border:3px solid #A9BD5A;
    content:  "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left:0;
    bottom:0;
    z-index:1;
    transition: transform 0.35s ease;
}
.btn-1:hover::after{
    transform: translate(-5px, -5px);
}
.btn-1:hover::before{
    transform: translate(5px, 5px);
}

.btn-1:hover{
    color: #A9BD5A;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.recuperar {
    clear: both;
}

.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
    background-color:rgb(0, 0, 0);
}

.seccionpie h1{
    color:rgb(255, 255, 255);
    padding-bottom: 5%;
    background-color:rgb(0, 0, 0);
}
.seccionpie p a{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);

}
.seccionpie address{
    color:rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(0, 0, 0);
}
.seccionpie small{
    color:rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(0, 0, 0);
}
#pie {
    width: 100%;
    background-color:rgb(0, 0, 0);
}
#back {
    width: 960px;
    margin: 0px auto;
    border-radius: 10px;
}
.seccionpie p {
    background-color:rgb(0, 0, 0);
}
.recuperar {
    clear: both;
}


